.galeria-section {
  padding-bottom: 60px;
}
.galeria-header h1 {
  margin-bottom: 16px;
}

.galeria-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.galeria-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.galeria-item h2 {
  margin-bottom: 20px;
}

.galeria-item h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.galeria-item p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .galeria-section {
    padding-bottom: 40px;
  }

  .galeria-bg {
    background: var(--cor-11);
  }

  .galeria-item {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
