.introducao-bg {
  background-image: url("/img/banner.jpg");
  height: 600px;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.introducao-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.introducao {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 80px;
}

.introducao-conteudo {
  max-width: 600px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }

  .introducao-conteudo {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    height: 400px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao-conteudo {
    max-width: 380px;
  }
}
