.introducao-bg {
  background: url("/img/banner.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  position: relative;
  background-attachment: fixed;
  display: flex;
}

.introducao-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.introducao {
  z-index: 2;
  width: 100%;
  align-self: flex-end;
  padding: 0 20px 80px;
}

.introducao-conteudo {
  max-width: 600px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao-bg {
    background: url("/img/banner.jpg") no-repeat top center;
    height: 500px;
  }

  .introducao-conteudo {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    height: 400px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao {
    padding-bottom: 60px;
  }

  .introducao-conteudo {
    max-width: 320px;
  }
}

@media (max-width: 600px) {
  .introducao {
    padding-bottom: 40px;
  }
}
